* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 700px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #2196f3;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.chat-message img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.chat-input {
  padding: 20px;
  background-color: #f2f2f2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-input form {
  display: flex;
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 12px;
  border: none;
  font-size: 16px;
}

.chat-bubble {
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
  }

.chat-input button[type="submit"] {
  padding: 12px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor
